body {
    background-image: url("img/faded-office.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    color: #020202;
}

div {
    width: 40%;
    margin: 30px;
}

h1 {
    font-size: 50px;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: -5px
}

p {
    font-size: 25px;
    font-weight: 500;
}

span {
    border-bottom: 5px solid #0ea5e9;
}

button {
    color: white;
    background-color: #0ea5e9;
    border: none;
    font-size: 23px;
    font-weight: 500;
    padding: 20px 38px;
    font-weight: 700

}
